<!-- start custom footer snippets -->


<!-- BU ADS'İ KULLANMIYORUM.AKTİF ETMEK İSTERSEN YORUM SATIRLARINI KALDIRABİLİRSİN.
google adsense'den girip vertical ads isminde oluşturulmuş ads'i görebilirsin id'si 1161648638
kullanmama sebebim ise Reduce unused JavaScript'de karşıma çıkması-->
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6821196134485959"
     crossorigin="anonymous"></script> -->
<!-- vertical ads -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6821196134485959"
     data-ad-slot="1161648638"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->



<!-- end custom footer snippets -->
