<!-- start custom head snippets -->
<link rel="alternate" hreflang="en" href="https://en.hasancelik.org"/>
<link rel="alternate" hreflang="tr" href="https://hasancelik.org"/>
<meta name="norton-safeweb-site-verification" content="vigz8315i6c-thgyqgbdt283zsngpo936rmg9qwkr9lsgmg2271ib8mtxwnskzj7k11xcfaqtu8i2u2bon4v2l6n0wk7yfpt6exzrkmrcbaf28q7vqw-ijcb1fkr5iwf" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml.min.js" integrity="sha512-T8xxpazDtODy3WOP/c6hvQI2O9UPdARlDWE0CvH1Cfqc0TXZF6GZcEKL7tIR8VbfS/7s/J6C+VOqrD6hIo++vQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/lazysizes.min.js" async="" ></script>
<!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> -->
<!-- end custom head snippets -->
