<!-- start custom head snippets -->
<link rel="alternate" hreflang="en" href="https://en.hasancelik.org"/>
<link rel="alternate" hreflang="tr" href="https://hasancelik.org"/>
<meta name="norton-safeweb-site-verification" content="vigz8315i6c-thgyqgbdt283zsngpo936rmg9qwkr9lsgmg2271ib8mtxwnskzj7k11xcfaqtu8i2u2bon4v2l6n0wk7yfpt6exzrkmrcbaf28q7vqw-ijcb1fkr5iwf" />
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/lazysizes.min.js" async="" ></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6821196134485959" crossorigin="anonymous"></script>
<!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> -->
<!-- Clarity tracking code for https://hasancelik.org/ -->
<script>
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "f63pkml80i");
</script>
<!-- end custom head snippets -->
