<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<meta name="norton-safeweb-site-verification" content="vigz8315i6c-thgyqgbdt283zsngpo936rmg9qwkr9lsgmg2271ib8mtxwnskzj7k11xcfaqtu8i2u2bon4v2l6n0wk7yfpt6exzrkmrcbaf28q7vqw-ijcb1fkr5iwf" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- end custom head snippets -->
