<div class="sidebar-ads" align="center" style="margin: 1em 0;">
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6821196134485959"
     data-ad-slot="9720856668"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6821196134485959"
     data-ad-slot="3740690107"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins> -->
</div>
